<div class="container">
    <div *ngIf="error">
      <div class="text-danger">{{ error }}</div>
    </div>
    <ng-container *ngIf="listHotels else loading">
      <div class="card-group d-flex flex-wrap justify-content-center"> 
        <div *ngFor="let hotel of listHotels" class="mb-4 flex-fill">
          <div class="card" style="width: 350px; margin-right: 10px; margin-bottom: 10px;">
            <img
            class="img-thumbnail btn"
            style="border-radius: 20px;"
              (click)="onHotelDetail(hotel)"
              [src]="host + '/photo/' + hotel.id"
            />
            <div class="card-body">
              <!-- <div *ngIf="this.authService.isAdmin()">
                <button (click)="onEditPhoto(hotel)">
                  <span class="fa fa-download"></span>
                </button>
                <p *ngIf="editPhoto && currentHotel == hotel">
                  <input type="file" (change)="onSelectedFile($event)" />
                  <button class="btn btn-success" (click)="uploadPhoto()">Upload</button>
                  {{ progress }}
                </p>
              </div> -->
              <h5 class="card-title">{{ hotel.name }}</h5>
                 <div class="stars-container">
                <div *ngFor="let star of getStars(hotel.stars)">
                  <i class="bi bi-star-fill text-warning"></i>
                </div>
              </div>
              <div>{{ hotel.city.name }}</div>
              <div>Chambre disponible : {{ hotel.numberOfRoom }}</div>
              <div class="d-flex justify-content-between">
                <div>
                </div>
                <div>{{ hotel.price }} €</div>
              </div>
              <div *ngIf="this.authService.isAdmin()">
                <a class="btn btn-danger" (click)="onDeleteHotel(hotel)">delete</a>
                <a class="btn btn-secondary" (click)="onUpdateHotel(hotel)">update</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #loading>
      <div><h1>Loading...</h1></div>
    </ng-template>
  </div>
  